

<!DOCTYPE html>
<html>
<head>
    <style>
        .na {
            text-decoration: none;
            color: white;
        }
    </style>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=""> Fluff N Stuff  </a>
            </div>



            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Category", "Index", "Admin", null, new { @class = "ht" })</li>
                <li> <a href=""> About </a></li>
                <ul class="nav navbar-nav">
                    <li>
                        @if (Session["Admin_id"] != null)
                        {


                            @Html.ActionLink("Add Products", "CreateAdd", "Admin", null, new { @class = "ht" })


                        <li style="color:whitesmoke;margin-top:20px;margin-left:70px"> @Session["Admin"]</li>

                    }
                        </li>
                        <li style="float:right">
                            @if (Session["Admin_id"] == null)
                            {



                                @Html.ActionLink("Sign In", "login", "Admin", null, new { @class = "ht", })

                            }
                        </li>
                        <li style="float:right">
                            @if (Session["Admin_id"] == null)
                            {
                                @Html.ActionLink("Sign Up", "Register", "Admin", null, new { @class = "ht" })
                            }
                            else
                            {
                                @Html.ActionLink("Sign Out", "SignOut", "Admin", null, new { @class = "ht" })
                            }

                        <li>
                    </ul>

            </div>
        </nav>

        @RenderBody()
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    </body>

</html>