@model FluffNStuff.Models.sub_category


@{
    ViewBag.Title = "Ad_tocart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using (Html.BeginForm())
{

    <div class="col-lg-8 col-md-8">

        <div>
            <h1>@Model.subcat_name <small>AD-ID:@Model.subcat_id</small></h1>
        </div>

        <img src="@Url.Content(@Model.subcat_image)" style="width:500PX; height:450PX" />

        <div>
            <h1>Description: </h1>
            <p>@Model.subcat_desc</p>
        </div>

        <h1>Price: @Model.subcat_price </h1>
        <h1>Name: @Model.subcat_name </h1>
        <h1>:Description @Model.subcat_desc </h1>

        <input type="number" name="qty" value="0" id="qty" min="1"/>
        <input type="submit" name="Submit" class="btn btn-danger" />

    </div>
    <div class="col-lg-2 col-md-2">
        <img src="~/Content/img/150_sleep1_600.gif" class="img img-responsive" style=" height:500px;" />
    </div>






}


